.bg-landing {
    z-index: -1;
    background-size: 100% 100%;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
}

.bg-landing:first-child {
    background-image: url(https://coin98.com/static/media/background-banner1.78f4f742.png);

    animation: scale-frames 60s ease infinite;
}

.bg-landing:nth-child(2) {
    background-image: url(https://coin98.com/static/media/background-banner2.429ade1b.png);

    animation: scale-frames-two 60s ease infinite;
}

.bg-landing:nth-child(3) {
    background-image: url(https://coin98.com/static/media/background-banner3.bc6fb40c.png);

    animation: scale-frames-three 60s ease infinite;
}

@-webkit-keyframes scale-frames {
    0% {
        -webkit-transform: scale3d(1.3, 0.5, 1.5);
        transform: scale3d(1.3, 0.5, 1.5);
    }

    50% {
        -webkit-transform: scaleX(0.8);
        transform: scaleX(0.8);
    }

    to {
        -webkit-transform: scale3d(1.3, 0.5, 1.5);
        transform: scale3d(1.3, 0.5, 1.5);
    }
}

@-webkit-keyframes scale-frames-two {
    0% {
        transform: scaleY(1.3);
    }

    50% {
        transform: scaleX(1);
    }

    to {
        transform: scaleY(1.3);
    }
}

@-webkit-keyframes scale-frames-three {
    0% {
        -webkit-transform: scale3d(1.5, 0.3, 2);
        transform: scale3d(1.5, 0.3, 2);
    }

    50% {
        -webkit-transform: scaleY(1.5);
        transform: scaleY(1.5);
    }

    to {
        -webkit-transform: scale3d(1.5, 0.3, 2);
        transform: scale3d(1.5, 0.3, 2);
    }
}

/* END PARALLAX STAR */

.btn {
    @apply mt-2 py-3 px-8 border-2 border-solid border-white rounded-3xl;
    animation: glow 1s infinite;
    transition: 0.5s;
}

.btn:hover {
    transform: translateX(-20px)rotate(30deg);
    border-radius: 5px;
    background-color: #fff;
    transition: 0.5s;
    color: black;
}

@keyframes glow {
    0% {
        box-shadow: 5px 5px 20px rgb(93, 52, 168), -5px -5px 20px rgb(93, 52, 168);
    }

    50% {
        box-shadow: 5px 5px 20px rgb(81, 224, 210), -5px -5px 20px rgb(81, 224, 210)
    }

    100% {
        box-shadow: 5px 5px 20px rgb(93, 52, 168), -5px -5px 20px rgb(93, 52, 168)
    }
}